body {
	color: white;
	background-color: black;
	background-image: url('../pictures/background.png');
	background-repeat:no-repeat;
    background-attachment:fixed;
    background-position: center;
	
}

#logo {
	display: table-row;
}

#logo h1 {
    font-family: 'Aclonica', sans-serif;
	font-weight: 800;
	font-size: 40px;
	display: table-cell;
	vertical-align: middle;
}

h3 {
	font-family: 'Aclonica', sans-serif;
	font-size: 30px;
}

.borderimg1 { 
    border: 10px solid transparent;
    padding: 0px;
    /*-webkit-border-image: url(border.png) 30 round;  Safari 3.1-5 */
    /*-o-border-image: url(border.png) 30 round;  Opera 11-12.1 */
    border-image: url('../pictures/frame2.png') 6 stretch;
	background-color: #9f4D18;
	margin: 20px 20px;
}

#sidemenu {
	border: 10px solid transparent;
    padding: 0px;
    /*-webkit-border-image: url(border.png) 30 round;  Safari 3.1-5 */
    /*-o-border-image: url(border.png) 30 round;  Opera 11-12.1 */
    border-image: url('../pictures/frame2.png') 6 stretch;
	background-color: #9f4D18;
}

.thepost {
	padding: 30px;
}

.postbottom {
	padding: 10px 30px;
	background-color: hsla(360, 0%, 0%, 10%);
}

.authorborder {
	border-top: 2px solid black;
	padding: 0;
	margin: 0;
}

ul {
  list-style-type: none;
}

a {
	color: #DD7528;
}

a:hover {
	color: #F8E038;
}

h1, h2, h3 {
	color: #F8D020;
}

.maintitle {
	margin-top: 3em;
	margin-bottom: 3em;
}
