<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
        <title>{{ page.title }}</title>
		<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/semantic.min.css">
		<link href="https://fonts.googleapis.com/css?family=Aclonica" rel="stylesheet">
		<link rel="stylesheet" href="{{ site.baseurl }}/css/main.css" >
    </head>
    <body>
		<!-- the banner -->
		<div class="ui grid">
			<div class="two wide column"></div>
			<div class="four wide column maintitle">
				<span id="logo"><img src="{{site.baseurl}}/pictures/ash128.png"><h1> Ashmedai</h1></span>
			</div>
			<div class="ten wide column"></div>
		</div>
	<div class="ui container">
	
	<div class="ui stackable grid">
	<div class="four wide column">
		<h3>Pages</h3>
		<div id="sidemenu">
		<ul>
			<li><a>Games</a></li>
			<li><a>Media</a></li>
			<li><a>Educational</a></li>
			<li><a>Personal</a></li>
		</ul>
		</div>
	</div>

